// Fonts
$main_font : 'Raleway', sans-serif;
$second_font: 'Roboto', sans-serif;
$italic_font: 'Bona Nova', serif;

// Media Queries
$mobile: 480px;
$tablet: 768px;
$desktop: 1024px;

// Colors
$primary: #5E311E;
$secundary: #C39C63;
$terciary: #EBE7DE;
$black: #000000;
$white: #FFFFFF;
$grey: #ECEEEF;

// Units
$separation: 5rem;